[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "lib/pololu-3pi-2040-robot"]
	path = lib/pololu-3pi-2040-robot
	url = git@github.com:pololu/pololu-3pi-2040-robot.git
