[submodule "lib/pololu-3pi-2040-robot"]
	path = lib/pololu-3pi-2040-robot
	url = git@github.com:pololu/pololu-3pi-2040-robot.git
[submodule "lib/reactor-cpp"]
	path = lib/reactor-cpp
	url = git@github.com:lf-lang/reactor-cpp.git
[submodule "lib/reactor-c"]
	path = lib/reactor-c
	url = git@github.com:lf-lang/reactor-c.git
[submodule "lib/pico-examples"]
	path = lib/pico-examples
	url = git@github.com:raspberrypi/pico-examples.git
